<h1>Name: <%= @applicant.name %></h1>
Address: <%= @applicant.address %><br>
City: <%= @applicant.city %><br>
State: <%= @applicant.state %><br>
Zip: <%= @applicant.zip %><br>
Reason for Adoption: <%= @applicant.reason %><br>
Name of pet(s): <% @applicant.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %><br>
Application Status: <%= @applicant.application_status %><br>

<%= form_with url: "/applicants/#{@applicant.id}", method: :get do |form| %>
  <%= form.label :query, "Add a Pet to this Application" %><br>
  <%= form.text_field :query %>
  <%= form.submit "Submit" %>
<% end %>

<% if params[:query] %>
  <% @pets.each do |pet| %>
    <%= pet.name %> <%= button_to "Adopt this Pet",
        {:controller => :applicants, :action => "show"}, params: {pet_id: pet.id},
        method: :get, id: "#{pet.id}" %>  <br>
  <% end %>
<% end %>
